.input-text{
  width: 20%;
  height:50px;
  font-size: 40px;
  margin: 60px
}

.btn-search{
  width: 10%;
  height:55px;
  font-size: 40px;
}

.result-search{
  width: 30%;
  margin: 60px
}

.result-search p{
  font-size: 40px
  
}